body {
  overflow-x: hidden;
}

/*GENERAL*/

/* Global CSS variables */
:root {
  --spacing-company: 3rem;
  --font-weight: 400;
  --border-radius: 0;
}

/* Typography */
h2,
h3,
hgroup > :last-child {
  font-weight: 200;
}

small {
  color: var(--muted-color);
}


.main{
  margin-top: 3rem;
  margin-bottom: 3rem;
}

/* Header */
.hero {
  background-color: #004d40;
  /*background-image: url("assets/sascha-eremin-DNQ-M93tHmA-unsplash-3000x1000.jpg");*/
  background-position: center;
  background-size: cover;
}

/*header {
  padding: var(--spacing-company) 0;
}

header hgroup > :last-child {
  color: var(--h3-color);
}

header hgroup {
  margin-bottom: var(--spacing-company);
}*/

/* Nav */
summary[role="link"].contrast:is([aria-current],:hover,:active,:focus) {
  background-color: transparent;
  color: var(--contrast-hover);
}

/* Main */
@media (min-width: 992px) {
  main .grid {
    grid-column-gap: var(--spacing-company);
    grid-template-columns: auto 25%;
  }
}

form.grid {
  grid-row-gap: 0;
}

/* Aside nav */
aside img {
  margin-bottom: 0.25rem;
}

aside p {
  margin-bottom: var(--spacing-company);
  line-height: 1.25;
}

.footer{
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #004d40;
  color: white;
}

.smallFooter{
  color: white;
}

.inicio a{
  color:white;
}

.login{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.tables{
  padding:2rem;
}

.botonCrear{
  width: 50%;
  float: right;
}

.centrado{
  text-align: center;
}

.rojo{
  background-color: red;
}

/*CONFIGURACION MARGENES*/

.mr-2{
  margin-right: 5px;
}

.mr-3{
  margin-right: 10px;
}

.mt-1{
  margin-top: 1rem;
}

.mb-1{
  margin-bottom: 1rem;
}

.ml-2{
  margin-left: 5px;
}

.ml-3{
  margin-left: 10px;
}


/*CONFIGURACION LOGO STACK UX*/

.logo-main{
    --font-size: 2rem;
    --typography-spacing-vertical: 3rem;
}

.logo-main{
  display: none;
}

.stronger{
  display: none;
}

@media only screen and (min-width : 800px) {
  .stronger{
    display: block;
  }

  .logo {
    display: inline-block;
    height: 100%;
  }
  
  .logo>img {
    position: absolute;
    top: 5%;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    transform: translateY(-50%);
  }
}


/* ALERTAS*/

/*ALERTA ERROR*/

.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

.alertBuena {
  padding: 20px;
  background-color: #00b798; /* Red */
  margin-bottom: 15px;
}

.alertAmarillo {
  padding: 20px;
  background-color: yellow; /* Red */
  color: black;
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtnAmarillo {
  margin-left: 15px;
  color: black;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

.marginado{
  margin-right: 5rem;
}

.white{
  color: white;
}


.listPaginator{
  list-style: none;
}

.listPaginator a{
  color: white;
}

.aNumber{
 background-color: lightseagreen;
 margin-right: 0.5rem;
}

.aNumber:hover{
  background-color: rgb(24, 127, 122);
}

.anterior{
  background-color: whitesmoke;
  color: black;
  margin-right: 0.5rem;
}

.finest{
  background-color: whitesmoke;
  color: black;
}

.finest:hover{
  background-color: lightgrey;
}

.errorYup{
  font-size: 0.9rem;
  color: red;
}

.ojoPassword{
  margin-left: -40px; 
  cursor: pointer;
}

textarea {
  resize: none;
}

.redBorder{ 
  border: 2px solid red;
}

.pb-2{
  padding-bottom: 4rem;
}

.green{
  background-color: green;
}

.listNone{
  padding: 0;
}

.listNone li{
  list-style: none;
}

.mailto{
  color: white;
  text-decoration: none;
}

.listanone{
  padding: 0;
  list-style-type: none;
}

.listanone li{
  list-style: none;
}

.imgPersonalizado{
  width: 400px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.glass{
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.color-especial{
  background-color: #5DA599;
}

.color-especial:hover{
  background-color: #3c6a63;
}

.color-especial2{
  background-color: #FA7039;
}

.color-especial2:hover{
  background-color: #ba542c;
}

:root{
  background-color: #35786D;
}

.color3{
  background-color: #fff;
  padding: 2em;
}

.span{
  display: block;
}